<div class="diagram-container">
  <div class="container">
    <div class="module input-module" routerLink="/modules/input">Input Module</div>
    <div class="module pre-filtering-module" routerLink="/modules/pre-filtering">Pre-Filtering Module</div>
    <div class="module recommendation-module" routerLink="/modules/recommendation">Recommendation Module</div>
    <div class="module post-filtering-module" routerLink="/modules/post-filtering">Post-Filtering Module</div>
    <div class="module output-module" routerLink="/modules/output">Output Module</div>
    <div class="module analysis-module" routerLink="/modules/analysis">Analysis Module</div>
  </div>
</div>
