<div class="container-3-content">
  <div class="row g-3 full-height-card">
    <mat-card>
      <div class="container-auto-fill-auto">
        <mat-card-header class="card-header content-fit">
          Add existing:
        </mat-card-header>
        <mat-card-content class="content-fill card-content">
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline">
                <mat-label>Select Parameter</mat-label>
                <mat-select [(ngModel)]="selectedParameter" (selectionChange)="changedParameter()">
                  <mat-option *ngFor="let param of parameters" [value]="param">
                    {{ param.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-form-field appearance="outline" *ngIf="selectedParameter.id !== '' && selectedParameter.id !== undefined">
                <mat-label>Source</mat-label>
                <input matInput [(ngModel)]="configuration.source">
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-footer class="card-footer content-fit">
          <mat-card-actions  align="end">
            <button mat-button (click)="addConfiguration()">
              Add
            </button>
          </mat-card-actions>
        </mat-card-footer>
      </div>
    </mat-card>
  </div>
</div>
