<div class="row">
  <div class="col-2 col-md-2">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Default value</mat-label>
      <input matInput type="number" [(ngModel)]="parameter.defaultValue" >
    </mat-form-field>
  </div>
  <div class="col-2 col-md-2">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Min value</mat-label>
      <input matInput type="number" [(ngModel)]="parameter.minValue" >
    </mat-form-field>
  </div>
  <div class="col-2 col-md-2">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Max value</mat-label>
      <input matInput type="number" [(ngModel)]="parameter.maxValue" >
    </mat-form-field>
  </div>
</div>

