

<div class="container-3-content">
  <div class="content-fit row g-3">
    <h6 class="mb-0 text-uppercase">BPM Modeling</h6>
    <hr>
  </div>

  <div class="content-fit row g-3">
    <mat-card>
      <mat-card-content>
        <div class="d-flex flex-row gap-3 align-items-center justify-content-between">
          <div class="">
            <h5 class="">Activities</h5>
          </div>

        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="content-fill row g-3">
    <app-activity-modeling-table>

    </app-activity-modeling-table>
  </div>
</div>
