<div class="container-3-content">
  <div class="content-fit row g-3">
    <h6 class="mb-0 text-uppercase">ERC Data</h6>
    <hr>
  </div>

  <div class="content-fit row g-3">
    <mat-card>
      <mat-card-content>
        <div class="d-flex flex-row gap-3 align-items-center justify-content-between">
          <div class="">
            <h5 class="">Environmental Parameters</h5>
          </div>
          <div>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="createEnvironmentalParameter()">
                <mat-icon class="material-icons-outlined">add</mat-icon>
                <span>Add</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">visibility</mat-icon>
                <span>View</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item>
                <mat-icon class="material-icons-outlined">delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="content-fill row g-3">
    <app-environmental-parameter-table [parametersInput]="environmentalParameters" (parameterChange)="getEnvironmentalParameters()"></app-environmental-parameter-table>
  </div>

</div>
